/* Los estilos de tu proyecto */

*{
  font-family: 'Raleway', sans-serif;
}

body{
  padding-top: 50px;
}

.taxi_background{
  padding: 30%;
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.cel_app{
  padding: 5% 5% 5% 0;
  background-color: #f7b617;
}

.white_border_box{
  padding: 3%;
  border: 1px solid white;
}

.h3_box{
  color: white;
  font-size: 2em;
  font-weight: bold;
  line-height: 2.5em;
}

.p_box{
  color: white;
  font-size: 1.25em;
  line-height: 1.5em;
  padding-right: 20%;
}

.conduce_background{
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.black_transparency{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8%;
}

.h3_box_2{
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.p_box_2{
  color: white;
  font-size: 1.25em;
}

.yellow_button{
  background-color: #f7b617;
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  padding: 3.5%;
}

.fill_here{
  background-color: #f7b617;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.background_footer{
  background-color: #2b2b2b;
}

.white_lines_box{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.items_list, .items_list:hover{
  color: white;
  text-decoration: none;
}
